* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

body {
    margin: 10px;
}

#sizeInp {
    width: 50px;
}

h1 {
    margin-bottom: 30px;
}

button {
    width: 100%;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    text-align: center;
}

#close-popup {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
body {

    background-color: #222;
    color: white;
    padding: 20px;
}
label {
    padding-left: 5px;
    border-left: 2px solid;
    font-size: 18px;
}
.input-container {
    margin: 5px 0 9px;
}

.general-container {
    margin: 0 0 10px;
    width: 325px;
}
.general-container > .general-container {
    margin: 10px 0 0;
    padding: 0 20px;
    width: 100%;
}

.input-container > label {
    border: none;
    position: absolute;
    background-color: #222;
    padding: 0 2px;
    transform: translate(9px, -11px);
    font-size: 14px;

}
input {
    font-family: inherit;
    background-color: #222;
    border: 2px solid white;
    border-left: 4px solid white;
    color: white;
    padding: 4px 5px;
    font-size: 16px;
    
}

select {
    float: right;
    border: 2px solid white;
    color: white;
    padding: 2px;
    background-color: #222;
    margin-top: -2px;
}

button {
    padding: 8px 15px;
    font-size: 18px;
    cursor: pointer;
    background-color: #fff;
    color: black;
    border: none;
}
.check {
    width: 2ch;
    border-radius: 0;

}
.check, .round {
    display: grid; float: right;
    place-content: center;
    height: 18px;
    width: 18px;
    border: white solid 2px;
    background-color: none;
    appearance: none;
    font: inherit;
    color: currentColor;
    cursor: pointer;
}
.check::before {
    transform: scale(0);
    content: "";
    width: 10px;
    height: 10px;
}
.check:checked::before {
    transform: scale(1);
    background-color: white;
}
.check:checked:focus::before {
    transform: scale(1);
    background-color: yellow;
}
button:hover {
    background-color: yellow;
}
input:focus, select:focus {
    color: yellow;
    outline: none;
    border-color: yellow;
}
.focused-label {
    color: yellow;
    border-color: yellow;
}